<div>
    <table> 
         <tr>
            <td>
                <h3>Purchase information</h3>
            </td>
        </tr>
        <tr>
            <td>Product name &nbsp; &nbsp;</td>
            <td><input class="text" type="text" ng-model="product.name" value="{{product.name}}" disabled/></td>
        </tr>
        <tr>
            <td>Product price (SEK) &nbsp; &nbsp;</td>
            <td><input class="text" type="number" ng-model="product.price" value="{{product.price}}" disabled/></td>
        </tr>
        <tr>
            <td>
                Holder   &nbsp;   &nbsp;
            </td>
            <td>
                <input class="text" type="text" ng-model="holder" required/>
            </td>
        </tr>
        <tr>
            <td>Email &nbsp; &nbsp;</td>
            <td><input class="text" type="text" ng-model="email" required/></td>
        </tr>
        <tr>
            <td>
                Credit card number   &nbsp;   &nbsp;
            </td>
            <td>
                <input class="text" type="text" ng-model="account" required/>
            </td>
        </tr>
        <tr>
            <td>
                CCV    &nbsp;   &nbsp;
            </td>
            <td>
                 <input class="text" type="text" ng-model="ccv" required/>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                  <input style="width: 100%; height: 35px;" type="button" class="btn btn-default" value="Buy" ng-click="verify()"/> 
            </td>
        </tr>
    </table>
  
</div>
