<div>
    <div style="margin: 2px; float: right">
        <input type="button" class="btn btn-default" value="Prev" ng-click="getRange()"/>
        <input type="button" class="btn btn-default" value="Next" ng-click="getRange()"/>
    </div>

    <div id="dashboard" class="dashboard">

    </div>

    <script type="text/javascript">
        var dataSource = [
            {id: 0, name: 'Berlin', price: 2000, description: 'Something', picture: 'img/1.jpg'},
            {id: 1, name: 'Berlin', price: 2000, description: 'Something', picture: 'img/2.jpg'},
            {id: 2, name: 'Berlin', price: 2000, description: 'Something', picture: 'img/3.jpg'},
            {id: 3, name: 'Berlin', price: 2000, description: 'Something', picture: 'img/4.jpg'},
            {id: 4, name: 'Berlin', price: 2000, description: 'Something', picture: 'img/5.jpg'},
            {id: 5, name: 'Berlin', price: 2000, description: 'Something', picture: 'img/6.jpg'},
            {id: 6, name: 'Berlin', price: 2000, description: 'Something', picture: 'img/7.jpg'},
            {id: 7, name: 'Berlin', price: 2000, description: 'Something', picture: 'img/8.jpg'},
            {id: 8, name: 'Berlin', price: 2000, description: 'Something', picture: 'img/9.jpg'}
        ];
        dataSourceX = [
            {id: 0, name: 'Paris', price: 2000, description: 'Something', picture: 'img/1.jpg'},
            {id: 1, name: 'Paris', price: 2000, description: 'Something', picture: 'img/2.jpg'},
            {id: 2, name: 'Paris', price: 2000, description: 'Something', picture: 'img/3.jpg'},
            {id: 3, name: 'Paris', price: 2000, description: 'Something', picture: 'img/4.jpg'},
            {id: 4, name: 'Paris', price: 2000, description: 'Something', picture: 'img/5.jpg'},
            {id: 5, name: 'Paris', price: 2000, description: 'Something', picture: 'img/6.jpg'},
            {id: 6, name: 'Paris', price: 2000, description: 'Something', picture: 'img/7.jpg'},
            {id: 7, name: 'Paris', price: 2000, description: 'Something', picture: 'img/8.jpg'},
            {id: 8, name: 'Paris', price: 2000, description: 'Something', picture: 'img/9.jpg'}
        ];
//        var createDashboard = function (dataSource) {
//            $.get("partials/products/product-detail.html", function (detail) {
//                $.get("partials/products/product-overview.html", function (overview) {
//                    var options = {
//                        marginLeft: 0,
//                        marginTop: 0,
//                        rightPanelTilesWidth: 250,
//                        rightPanelTilesHeight: 250,
//                        dataSource: dataSource,
//                        maximizedState: detail,
//                        minimizedState: overview,
//                        rendered: function (event, ui) {
//                            $('#dashboard').find('ul').igTree();
//                        }
//                    };
//
//                    $('#dashboard').igTileManager(options);
//                });
//            });
//        };
//        
//        $(createDashboard(angular.element($("#dashboard")).scope().products));
        //'<h3>${name}</h3><img src="${picture}" title="${name}" alt="error"/><div id="map-canvas"></div><p class="text">${description}</p>',
    </script>
</div>