<div>
    <div id="descPanel">
        <a class="btn btn-default" 
           style="width: 100%" href="#/creditcard" 
           onmouseover="this.innerHTML = 'Book'" 
           onmouseout="this.innerHTML = '${name} - ${price} Kr'">${name} - ${price} Kr</a>
        <input id="productId" type="text" value="${id}" hidden="hidden"/>
        <p>${description}</p>
        
        <div style="width: 100%; position: absolute; bottom: 0px">
            <a class="btn btn-default" style="width: 100%" href="#/admin">Edit</a>        
        </div>
    </div>
    <div id="imgPanel">
        <img src="${img}" title="${name}" alt="error"/>
        <img class="grayscale" style="opacity: 0.3" src="${img}" title="${name}" alt="error"/>
    </div>
</div>