<div id="productsPanel">
    <div style="margin: 2px; float: right">
        <button class="btn btn-default" ng-disabled="currentPage === 0" 
                ng-click="currentPage = currentPage - 1">
            Previous
        </button>
        <button class="btn btn-default" 
                ng-disabled="currentPage >= count / pageSize - 1"
                ng-click="currentPage = currentPage + 1"> 
            Next
        </button>
    </div>

    <div id="dashboard" class="dashboard">

    </div>
</div>