
<div align="center" >
    <h3> Purchase Information</h3>
    <table class = "table">
        <tr>
            <th>
                Name     
            </th>
            <th>
                Email
            </th>
            <th>
                Confirmation Code
            </th>
            <th>
                Date
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
        </tr>
        <tr>
            <td> 
                {{purchaseOrder.userFullName}}    
            </td>                
            <td> 
                {{purchaseOrder.userEmail}}    
            </td>
            <td>
                {{purchaseOrder.confirmationCode}}
            </td>
            <td>
                {{purchaseOrder.date}}
            </td>
            <td>
                {{purchaseOrder.product.price}}
            </td>
            <td>
                Paid
            </td>
        </tr>
        
    </table>
    <h3> Hotel Information</h3>
    <table class = "table">
        <tr>
            <th>
                Name     
            </th>
            <th>
                Address    
            </th>
        </tr>
        <tr>
            <td> 
                {{purchaseOrder.product.hotel.name}}    
            </td>  

            <td> 
                {{purchaseOrder.product.hotel.address1}}    
            </td>  
        </tr>
        
    </table>
    <h3> Flight information</h3>
    <table class = "table">
        <tr ng-repeat="trip in purchaseOrder.product.trips">
            <td>
                <table style="width:100%">
                    <tr>
                        <th>
                            Origin
                        </th>
                        <th>
                            Departure time
                        </th>
                        <th>
                            Destination
                        </th>
                        <th>
                            Arrival Time
                        </th>
                        <th>
                            Max kilo
                        </th>
                        <th>
                            Meal
                        </th>
                    </tr>
                    <tr ng-repeat="subTrip in trip.subtripList">

                        <td>
                            {{subTrip.origin}}
                        </td>
                        <td>
                            {{subTrip.departureTime}}
                        </td>
                        <td>
                            {{subTrip.destination}}
                        </td>
                        <td>
                            {{subTrip.arrivalTime}}
                        </td>
                        <td>
                            {{trip.maxFreeBaggage}}
                        </td>
                        <td>
                            {{subTrip.meal}}
                        </td>
                    </tr>
                </table>
            </td> 
        </tr>



    </table>
</div>
