<div>
    <table  border="1" style="width:100%; height:100%">
        <tr style="height:70%">
            <td style="width:30%; vertical-align:top">
                <table>
                    <tr>
                        <td>Origin</td>
                        <td><input class="text" type="text" ng-model="origin" required/></td>
                    </tr>  
                    <tr>
                        <td>Destination</td>
                        <td><input class="text" type="text" ng-model="destination" required/></td>
                    </tr>
                    <tr>
                        <td>
                            Arrival Date
                        </td>
                        <td>
                            <input class="text" type="date" ng-model="arrivalDate" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Departure Date
                        </td>
                        <td>
                            <input class="text" type="date" ng-model="departureDate" required/>
                        </td>
                    </tr>
                    <tr>
                        <td> Number of guests &nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <input class="text" type="number" ng-model="adultCount" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="Find" class="btn btn-default" ng-click="callService()"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table> 
            </td>
            <td  style="width:100%; vertical-align:top" >
                <table style="width:100%"> 
                    <tr ng-repeat="t in trips1">
                        <td style="width:100%">
                            <table style="width:100%;">
                                <tr ng-repeat="st in t.subtripList">
                                    <td style="width:100%">
                                        <input  style="width:100%" type="button" value="{{st.origin + '   ' + st.departureTime + '   ' + st.destination + '   ' + st.arrivalTime}}" class="btn btn-default" ng-click="selectFlight1(t)"/>
                                    </td>
                                </tr>
                            </table>                        
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%">
                            <table style="width:100%"> 
                                <tr ng-repeat="t in trips2">
                                    <td style="width:100%">
                                        <table style="width:100%;">
                                            <tr ng-repeat="st in t.subtripList">
                                                <td style="width:100%">
                                                    <input  style="width:100%" type="button" value="{{st.origin + '   ' + st.departureTime + '   ' + st.destination + '   ' + st.arrivalTime}}" class="btn btn-default" ng-click="selectFlight2(t)"/>
                                                </td>
                                            </tr>
                                        </table>                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%">
                            <table style="width:100%">
                                <tr ng-repeat="summary in retrievedHotels">
                                    <td style="width:100%">
                                        <input  style="width:100%;" type="button" value="{{summary.name + '   ' + summary.price + ' SEK'}}" class="btn btn-default" ng-click="selectHotel(summary)" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>   
                </table>
            </td>

        </tr>
        <tr style=" height:30%"> 
            <td>      
                <table>
                    <tr >
                        <td rowspan="2">
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <h3>Create a package</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        Price
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="text" ng-model ="package.name"  />
                                    </td>
                                    <td>
                                        <input type="number" class="text" ng-model ="package.price" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <textarea id="package-description" style="width: 100%; height: 200px;" ng-model ="package.description">{{package.description}}</textarea>
                                    </td>            
                                </tr>   
                                <tr>
                                    <td colspan="2">
                                        <div id="user-detail">
                                            <div id="holder" class="holder"></div> 
                                            <p id="upload" class="hidden">
                                                <label>Drag &amp; drop not supported, but you can still upload via this input field:<br><input type="file"></label>
                                            </p>
                                        </div>
                                    </td>            
                                </tr> 
                                <tr>
                                    <td>
                                        <input type="button" class="btn btn-default" value="Create" ng-click="createPackage()"/> 
                                    <td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </table> 
            </td>
            <td style="width:70%; vertical-align:top">  
                <table>
                    <tr>
                        <td style="vertical-align:top">
                            {{selectedFlight1.origin + '   ' + selectedFlight1.departureTime + '   ' + selectedFlight1.destination + '   ' + selectedFlight1.arrivalTime}}
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">  
                            {{selectedFlight2.origin + '   ' + selectedFlight2.departureTime + '   ' + selectedFlight2.destination + '   ' + selectedFlight2.arrivalTime}}
                        </td> 
                    </tr>
                    <tr>
                        <td style="vertical-align:top">{{selectedHotel.name}}&nbsp;&nbsp;&nbsp;{{selectedHotel.address1}}&nbsp;&nbsp;&nbsp;{{selectedHotel.price}}</td> 
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
    <script>
        $(function() {nicEditors.allTextAreas();});
        
        var holder = document.getElementById('holder'),
        tests = {
            dnd: 'draggable' in document.createElement('span')
        },
                
        acceptedTypes = {
            'image/png': true,
            'image/jpeg': true,
            'image/gif': true
        };

        function previewfile(file) {
            if (acceptedTypes[file.type] === true) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var image = new Image();
                    image.src = event.target.result;
                    image.width = 250; // a fake resize
                    angular.element($("#user-detail")).scope().imgSrc = image.src;
                    holder.appendChild(image);
                };

                reader.readAsDataURL(file);
            } else {
                holder.innerHTML += '<p>Uploaded ' + file.name + ' ' + (file.size ? (file.size / 1024 | 0) + 'K' : '');
                console.log(file);
            }
        };

        function readfiles(files) {
            debugger;
            var formData = tests.formdata ? new FormData() : null;
            for (var i = 0; i < files.length; i++) {
                if (tests.formdata)
                    formData.append('file', files[i]);
                previewfile(files[i]);
            }
        };

        if (tests.dnd) {
            holder.ondragover = function () {
                this.className = 'hover';
                return false;
            };
            holder.ondragend = function () {
                this.className = '';
                return false;
            };
            holder.ondrop = function (e) {
                this.className = '';
                e.preventDefault();
                readfiles(e.dataTransfer.files);
            };
        } else {
            var fileupload = document.getElementById('upload');
            fileupload.className = 'hidden';
            fileupload.querySelector('input').onchange = function () {
                readfiles(this.files);
            };
        }

    </script>
</div>