<!--Body content-->
<div>
   
    <h2>Admin</h2>
    <table class="table">
        <tr>
            <td>Origin</td>
            <td><input type="text" ng-model="flightInfo.Origin" value="{{flightInfo.Origin}}" required/></td>
        </tr>  
        <tr>
            <td>Destination</td>
            <td><input type="text" ng-model="flightInfo.Destination" value="{{flightInfo.Destination}}" required/></td>
        </tr>
        <tr>
            <td>
                Date
            </td>
            <td>
                <input type="date" ng-model="flightInfo.Date" required/>
            </td>
        </tr>
        <tr>
            <td> Number of passengers </td>
            <td>
                <input type="number" ng-model="{{flightInfo.Passangers}}" required/>
            </td>
        </tr>
        <tr>
            <td>
                 <input type="button" class="btn btn-default" value="Find" ng-click="getFlightList()"/>
            </td>
        </tr>
    </table>
</div>
