@font-face {
    font-family: tbFont;
    src: url('../font/Cabin-Bold.otf');
    font-weight: bold
}

@font-face {
    font-family: tbFont;
    src: url('../font/Cabin-Regular.otf');
    font-weight: normal
}

* {
    font-size: 100%;
    font-family: tbFont;
}

root { 
    display: block;
}

body {
    margin: 0;
    background-color: #3a9aa8;
}

.navbar {
    margin: 0;
    border-radius: 0;
    background-color: #3a9aa8;
    border-color: transparent;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    color: white;
    border-color: transparent;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

footer {
    clear: both;   
    text-align: center;
    background-color: #3a9aa8;
}

.grayscale {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.btn-default {
    background-color: #84f8fc;
    border-color: #84f8fc;
    border-radius: 0px;
    opacity: 0.7;
    min-width: 100px;
}

/*
form {
    margin: 0;
    display: inline-block;
    padding: 5px 15px 5px 200px
}

input, select, button {
    display: inline-block;
    list-style-type: none;
    font-size: inherit;
    padding: 0.4em 0.5em;
    margin:0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #f90;
    background-color: #fff;
    position:relative;

}*/
/*
input:focus {
    outline: none;
    background-color: #ffa;
    background-color: rgba(255,255,210,0.5);
}

button {
    margin-left: 0;
    border-radius: 0 0.0em 0.0em 0;
    background-color: #aef;
}

button:active,
button:focus {
    background-color: #acf;
    outline: none;
}

.darkBG {
    background: #999;
}

.darkerBG {
    background: #666;
}

.darkestBG {
    background: #333;
}

.panel-body{
    padding: 25px 1px 1px 1px;
    width: 100%;
}

#error {
    color:  red;
}

a.hovertext {
    position: relative;
    width: 200px;
    float: left;
    padding-bottom:8.5em;
}

a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 350px;
    background: rgba(0,0,0,0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
}
*/

.rightHeader {
    float: right;
}

.rightHeader img {
    margin-right: 5px;
    margin-top: 13px;
}

